.container {
    width: 400px;
    height: 400px;
    background: yellow;
    position: relative;

    & div {
        width: 100px;
        height: 100px;
        position: absolute;
    }

    & .blue {
        background-color: blue;
        top: 10px;
        right: 10px;
        z-index: 2;
    }

    & .red {

        background-color: red;

        top: 20px;
        right: 20px;
        z-index: 3;
    }

    & .black {
        background-color: black;
        z-index: 1;
        right: 30px;
        top: 30px;
}